.quest-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px auto;
  max-width: $layoutWidth;

  .quest-list {
    max-width: 922px;
    margin: 0 15px 0 0;

    .quest-card {
      cursor: pointer;

      &:hover {
        background: rgba(0, 150, 136, 0.2);
      }

      &.checked {
        background: rgba(82, 80, 63, 0.125);
        text-decoration: line-through;
        opacity: 0.4;

        &:hover {
          background: rgba(82, 80, 63, 0.3);
        }
      }

      &.hidden {
        background: rgba(82, 80, 63, 0.12);
        opacity: 0.6;

        &:hover {
          background: rgba(82, 80, 63, 0.3);
        }
      }
    }

    .quest-name > span {
      position: relative;
    }

    .difficulty {
      position: absolute;
      display: inline-block;
      width: 39px;
      height: 30px;
      top: -9px;
      right: -42px;
      background: url('../images/quest_level.png') no-repeat;

      &.Elite {
      }

      &.Epic {
        background-position: 0 -30px;
      }

      &.Legendary {
        width: 54px;
        background-position: 0 -60px;
        right: -57px;
      }

      &.Mythic {
        background-position: 0 -90px;
      }
    }

    .repeatable {
      position: absolute;
      display: inline-block;
      width: 28px;
      height: 22px;
      top: -3px;
      right: -31px;
      background: url(../images/quest_notifier.png) no-repeat -88px -41px;
    }

    .reward-list {
      display: flex;
      align-items: center;

      & > div {
        margin-right: 8px;
      }

      .currency {
        color: #2E6689;
      }
    }

    .reward-item-choices {
      position: relative;
      padding-top: 6px;

      .choose-one {
        position: absolute;
        top: -17px;
        font-size: 11px;
      }

      .reward-items {
        padding: 0 2px 6px;
      }
    }

    .reward-items {
      display: flex;
      flex-direction: row;
      padding: 6px 2px;

      & > div {
        margin-right: 4px;
      }
    }

    .reward-currencies, .reward-xps {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
    }
  }

  .quest-filters {
    width: 30%;
    min-width: 200px;
    max-width: 280px;
    margin: 0 0 0 15px;
  }
}

.daily-container {
  .MuiToolbar-root {
    .reset-timer {
      //display: flex;
      margin: 7px 0 0 12px;

      span {
        margin-left: 4px;
      }
    }

    .MuiFormControl-root {
      margin-left: 8px;
    }
  }

  .daily-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: 10px;

    .daily-category {
      .MuiToolbar-root {
        padding-left: 8px;
        padding-right: 12px;

        .MuiIconButton-root:not(:last-child) {
          margin-right: 6px;
        }

        .category-icon {
          width: 24px;
          border-radius: 50%;
        }

        .MuiIcon-root {
          margin-right: 6px;
        }

        p {
          margin: 0;
        }

        .MuiTypography-body2 {
          margin-right: 6px;
        }
      }

      .quest {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 6px;

        .MuiCheckbox-root {
          flex: 0 0 auto;
          align-self: flex-start;
        }

        p {
          flex: 1 1 auto;
          padding: 4px 0;
        }

        &.completed p {
          text-decoration: line-through;
        }

        .rewards {
          flex: 0 0 auto;
          align-self: flex-start;
          padding: 6px;
          height: 30px;

          display: flex;
          align-items: center;

          .MuiIconButton-root {
            .MuiSvgIcon-root {
              font-size: 0.875rem;
            }
          }
        }

        & + .quest {
          border-top: 1px solid rgba(169, 169, 169, 0.2);
        }

        .event-icon {
          //background: rgba(60, 150, 135, 0.1);
          width: 56px;
          height: 56px;
        }

        .timer-table {
          .MuiTableCell-sizeSmall {
            padding: 6px 6px 6px 16px;
          }

          .MuiTableCell-sizeSmall:last-child {
            padding-right: 16px;
          }
        }
      }
    }
  }
}

.quest-filters {
  .reward-panel-texts {
    display: flex;
    justify-content: space-between;
    padding: 0 6px 6px;
  }

  .reward-panel-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.currency, .dropdown-icon, .MuiTypography-body1.currency {
  position: relative;
  font-size: 15px;
  color: #6D4916;
  padding-right: 20px;
  min-height: 22px;

  &.currency {
    display: inline-block;

    &:not(.no-icon):after {
      right: 0;
    }
  }

  &:not(.no-icon):after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    right: 2px;
    top: 2px;
    display: inline-block;
    background: url(../images/money_window.png) no-repeat;
  }

  &.gold:after, &.Coin:after, &.coin:after {
    background-position: 0 -28px;
  }

  &.silver:after {
    background-position: -16px -28px;
  }

  &.copper:after {
    background-position: -32px -28px;
  }

  &.honor,
  &.Honor {
    padding-right: 16px;
  }

  &.honor:after,
  &.Honor:after {
    width: 12px;
    height: 19px;
    background-position: -49px -32px;
    top: 2px;
  }

  &.leadership,
  &.Leadership {
    padding-right: 18px;
  }

  &.leadership:after,
  &.Leadership:after {
    width: 14px;
    height: 15px;
    background-position: -173px -29px;
  }

  &.item,
  &.Items,
  &.crate {
    padding-right: 15px;
  }

  &.item:after,
  &.Items:after,
  &.crate:after {
    width: 11px;
    height: 16px;
    background-position: -223px -12px;
  }

  &.vocation,
  &.Vocation {
    padding-right: 21px;
  }

  &.Vocation:after, &.vocation:after {
    width: 17px;
    height: 15px;
    background-position: -190px -13px;
    top: 3px;
  }

  &.gilda,
  &.Gilda {
    padding-right: 22px;
  }

  &.Gilda:after, &.gilda:after {
    width: 18px;
    height: 18px;
    background-position: -136px -29px;
    top: 1px;
  }

  &.prestige, &.credits,
  &.Prestige, &.Credits {
    padding-right: 18px;
  }

  &.prestige:after,
  &.Prestige:after {
    width: 14px;
    height: 18px;
    background-position: -239px -28px;
    top: 2px;
  }

  &.Credits:after, &.credits:after {
    width: 14px;
    height: 18px;
    background-position: -1px -44px;
    top: 1px;
  }

  &.bsb:after,
  &.Blue:after {
    background-position: -189px -29px;
  }

  &.guildxp:after,
  &.Guild.XP:after {
    background-position: -96px -29px;
  }

  &.Ancestral {
    padding-right: 24px;
  }

  &.Ancestral:after {
    background-position: -219px -29px;
    width: 20px;
    height: 20px;
  }

  &.diligence, &.loyalty {
    padding-right: 19px;
  }

  &.diligence:after {
    background-position: -79px -45px;
    width: 15px;
    height: 15px;
  }

  &.loyalty:after {
    background-position: -207px -13px;
    width: 15px;
    height: 15px;
  }

  &.manastorm {
    padding-right: 21px;
  }

  &.manastorm:after {
    background-position: -96px -45px;
    width: 17px;
    height: 15px;
  }

  &.craft {
    padding-right: 19px;
  }

  &.craft:after {
    background-image: url(../images/npc_icon.png);
    background-position: -52px -77px;
    width: 15px;
    height: 15px;
  }

  &.husbandry {
    padding-right: 20px;
  }

  &.husbandry:after {
    background-image: url(../images/npc_icon.png);
    background-position: -27px -100px;
    width: 17px;
    height: 17px;
  }

  &.quest {
    padding-right: 12px;
  }

  &.quest:after {
    background-image: url(../images/npc_icon.png);
    background-position: -225px -53px;
    width: 8px;
    height: 16px;
  }

  &.Kyrios:after,
  &.kyrios:after {
    background-position: -157px -29px;
  }

  &.crimepoints,
  &.Crime {
    padding-right: 18px;
  }

  &.crimepoints:after,
  &.Crime:after {
    background-position: -63px -30px;
    width: 14px;
    height: 20px;
    top: 1px;
  }
}

.ances-level {
  color: #FECF3F;

  &:before {
    content: "";
    position: relative;
    height: 14px;
    width: 14px;
    top: 1px;
    display: inline-block;
    background: url(../images/money_window.png) no-repeat -242px -49px;
  }
}

.filter-field, .MuiFormControl-root.filter-field {
  display: block;
  margin: 8px 12px;

  &.padded {
    margin: 0 auto;
    padding: 8px 12px;
  }
}

.quest-flag {
  width: 30px;
  height: 23px;
  background: url(../images/quest_notifier.png) no-repeat;

  &.flag-daily {
    background-position: -56px -32px;
  }

  &.flag-weekly {
    background-position: -117px -37px;
  }

  &.flag-repeat {
    background-position: -88px -40px;
    width: 27px;
  }

  &.flag-elite, &.flag-epic, &.flag-legendary, &.flag-mythic {
    width: 33px;
    height: 30px;
    background-image: url(../images/quest_level.png);
  }

  &.flag-epic {
    background-position: 0 -30px;
  }

  &.flag-legendary {
    width: 54px;
    background-position: 0 -60px;
  }

  &.flag-mythic {
    width: 36px;
    background-position: 0 -90px;
  }

  &.flag-m, &.flag-t, &.flag-w, &.flag-th, &.flag-f, &.flag-s, &.flag-su {
    width: 40px;
    height: 22px;
  }

  &.flag-m {
    background-position: -2px -77px;
  }

  &.flag-t {
    background-position: -46px -77px;
  }

  &.flag-w {
    background-position: -90px -77px;
  }

  &.flag-th {
    background-position: -2px -103px;
  }

  &.flag-f {
    background-position: -46px -103px;
  }

  &.flag-s {
    background-position: -90px -103px;
  }

  &.flag-su {
    background-position: -134px -103px;
  }
}

.quest-icon {
  background-image: url(../images/npc_icon.png);
  background-position: -225px -53px;
  width: 8px;
  height: 16px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: -3px;

  &.story {
    background-position: -224px -5px;
  }

  &.daily {
    background-position: -310px -239px;
  }

  &.repeat {
    background-position: -218px -173px;
    width: 19px;
  }

  &.vocation {
    background-position: -220px -197px;
    width: 17px;
  }
}

.dark-mode {
  .quest-container {
    .quest-list {
      .reward-list {
        .currency {
          color: #4D9BDC;
        }
      }
    }
  }

  .currency {
    color: #4D9BDC;
  }
}

.mobile {
  .daily-container {
    .MuiToolbar-root .reset-timer {
      display: flex;
      flex-direction: column;
      margin: 0;

      span {
        margin: 0;
      }
    }
  }
}
