.quest-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .quest-list {
    max-width: 920px;

    .quest-card {
      cursor: pointer;

      &:hover {
        background: rgba(0, 150, 136, 0.2);
      }

      &.checked {
        background: rgba(82, 80, 63, 0.125);
        text-decoration: line-through;
        opacity: 0.4;

        &:hover {
          background: rgba(82, 80, 63, 0.3);
        }
      }
    }

    .quest-name > span {
      position: relative;
    }

    .difficulty {
      position: absolute;
      display: inline-block;
      width: 39px;
      height: 30px;
      top: -9px;
      right: -42px;
      background: url('../images/quest_level.png') no-repeat;

      &.Elite {
      }

      &.Epic {
        background-position: 0 -30px;
      }

      &.Legendary {
        width: 54px;
        background-position: 0 -60px;
        right: -57px;
      }

      &.Mythic {
        background-position: 0 -90px;
      }
    }

    .reward-list {
      display: flex;
      align-items: center;

      & > div {
        margin-right: 8px;
      }

      .currency {
        color: #2E6689;
      }
    }

    .reward-item-choices {
      position: relative;
      padding-top: 6px;

      .choose-one {
        position: absolute;
        top: -17px;
      }

      .reward-items {
        padding: 0 2px 6px;
      }
    }

    .reward-items {
      display: flex;
      flex-direction: row;
      padding: 6px 2px;

      & > div {
        margin-right: 4px;
      }
    }

    .reward-currencies, .reward-xps {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
    }
  }

  .quest-filters {
    width: 20%;
    min-width: 200px;
    max-width: 280px;
  }
}

.MuiDialogContent-root.quest-filters .filter-field {
  margin: 8px 0 0;
}

.quest-filters {
  .filter-field {
    display: block;
    margin: 8px 12px;

    .label {
      color: rgba(0, 0, 0, 0.54);
    }

    .filter-group {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      button {
        border-radius: 0;

        &.selected {
          background-color: #b2dfdb;
        }
      }

      &:not(.rewards) button {
        //max-width: 50%;
        flex-grow: 1;
      }
    }
  }

  .reward-panel-texts {
    display: flex;
    justify-content: space-between;
    padding: 0 6px 6px;
  }

  .reward-panel-items {
    display: flex;
    flex-wrap: wrap;
  }

  .footnote {
    margin: 12px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    display: block;
    text-align: justify;
  }
}

.footnote-dialog {
  display: block;
  text-align: justify;
}

.currency, .dropdown-icon, .MuiTypography-body1.currency {
  position: relative;
  font-size: 15px;
  color: #6D4916;

  &:after {
    content: "";
    position: relative;
    height: 16px;
    width: 16px;
    margin-left: 2px;
    top: 1px;
    display: inline-block;
    background: url(../images/money_window.png) no-repeat;
  }

  &.gold:after, &.Coin:after {
    background-position: 0 -28px;
  }

  &.silver:after {
    background-position: -16px -28px;
  }

  &.copper:after {
    background-position: -32px -28px;
  }

  &.Honor:after {
    width: 12px;
    height: 19px;
    background-position: -49px -32px;
    top: 3px;
  }

  &.Leadership:after {
    width: 14px;
    height: 15px;
    background-position: -173px -29px;
  }

  &.Items:after {
    width: 11px;
    height: 16px;
    background-position: -223px -12px;
  }

  &.Vocation:after {
    width: 17px;
    height: 15px;
    background-position: -190px -13px;
  }

  &.Gilda:after {
    width: 18px;
    height: 18px;
    background-position: -136px -29px;
    top: 3px;
  }

  &.Prestige:after {
    width: 14px;
    height: 18px;
    background-position: -239px -28px;
    top: 3px;
  }

  &.Family.XP:after {
    background-position: -189px -29px;
  }

  &.Guild.XP:after {
    background-position: -96px -29px;
  }
}
