/**
 Item icon
 */
.item-icon {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 1px;
  box-shadow: 0 0 3px #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  img {
    height: 48px;
    width: 48px;
    display: block;
  }

  .count {
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    font-family: "Flareserif821BT-Roman", "Nanum Gothic", "Arial", sans-serif;
    font-size: 12px;
  }

  &:after, &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    content: "";
  }

  &.unidentified:before {
    background-image: url('../images/item/top_unconfirmed.png');
  }

  &.quest:before {
    background-image: url('../images/item/top_quest_y.png');
  }

  &.seed:before {
    background-image: url('../images/item/top_seed.png');
  }

  &.bundle:before {
    background-image: url('../images/item/top_colony.png');
  }

  &.ribbon:before {
    background-image: url('../images/item/top_ribbon_red.png');
  }

  &.tier-up:before {
    background-image: url('../images/item/top_tier_up.png');
  }

  &.wrapped:before {
    background-image: url('../images/item/packing.png');
  }

  &.erenor:before {
    background-image: url(../images/item/top_seal_ipnir.png);
  }

  &.erenor2:before {
    background-image: url(../images/item/top_seal_ipnir_2.png);
  }

  &.leviathan:before {
    background-image: url(../images/item/top_leviathan.png);
  }

  &.chroma:before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: 2px;
    right: 3px;
    left: auto;
    border: 1px solid #000000;
    box-shadow: 0 0 3px #000000;
  }

  &.inline {
    display: inline-block;
    cursor: help;
    margin: 0 4px 0 0;
    vertical-align: -4px;
    height: 20px;

    &.item-icon {
      width: 18px;
      height: 18px;

      img {
        width: 18px;
        height: 18px;
      }

      &:not(.showCount) .count {
        display: none;
      }

      &.showCount .count {
        font-size: 10px;
        right: auto;
        text-align: center;
        display: inline-block;
        width: 100%;
      }

      &:before, &:after {
        background-size: 18px;
        width: 18px;
        height: 18px;
      }

      &.chroma:before {
        background-size: auto;
        width: 2px;
        height: 2px;
        top: 1px;
        right: 1px;
      }
    }
  }
}

.inline-link {
  display: inline-block;
  cursor: help;
}

.item-result {
  display: flex;
  align-items: center;

  .item-icon {
    margin-right: 8px;
  }
}

[data-grade="0"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/0poor.png');
  }

  .quality-color {
    color: #949293;
  }

  .quality-bar {
    background-color: #949293;
  }
}

[data-grade="1"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/1common.png');
  }

  .quality-color {
    color: #BA976D;
  }

  .quality-bar {
    background-color: #BA976D;
  }
}

[data-grade="2"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/2uncommon.png');
  }

  .quality-color {
    color: #77B064;
  }

  .quality-bar {
    background-color: #77B064;
  }
}

[data-grade="3"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/3rare.png');
  }

  .quality-color {
    color: #558FD6;
  }

  .quality-bar {
    background-color: #558FD6;
  }
}

[data-grade="4"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/4ancient.png');
  }

  .quality-color {
    color: #CB72D8;
  }

  .quality-bar {
    background-color: #CB72D8;
  }
}

[data-grade="5"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/5heroic.png');
  }

  .quality-color {
    color: #D78B06;
  }

  .quality-bar {
    background-color: #D78B06;
  }
}

[data-grade="6"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/6unique.png');
  }

  .quality-color {
    color: #E17853;
  }

  .quality-bar {
    background-color: #E17853;
  }
}

[data-grade="7"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/7artifact.png');
  }

  .quality-color {
    color: #F85252;
  }

  .quality-bar {
    background-color: #F85252;
  }
}

[data-grade="8"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/8wonder.png');
  }

  .quality-color {
    color: #CF7D5D;
  }

  .quality-bar {
    background-color: #CF7D5D;
  }
}

[data-grade="9"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/9epic.png');
  }

  .quality-color {
    color: #8FA5CA;
  }

  .quality-bar {
    background-color: #8FA5CA;
  }
}

[data-grade="10"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/10legendary.png');
  }

  .quality-color {
    color: #BF7900;
  }

  .quality-bar {
    background-color: #BF7900;
  }
}

[data-grade="11"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/11mythic.png');
  }

  .quality-color {
    color: #C90B0B;
  }

  .quality-bar {
    background-color: #C90B0B;
  }
}

[data-grade="12"] {
  &.item-icon:after, &.mount-header-icon:before {
    background-image: url('../images/grades/12arche.png');
  }

  .quality-color {
    color: #CF7D5D;
  }

  .quality-bar {
    background-color: #CF7D5D;
  }
}
