/**
 Item icon
 */
.item-icon {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 1px;
  box-shadow: 0 0 3px #000000;
}

.item-icon:after, .item-icon.unidentified:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  content: "";
  z-index: 2;
}

.item-icon.unidentified:before {
  background-image: url('../images/item/unidentified.png');
  z-index: 1;
}

.item-icon img {
  height: 48px;
  width: 48px;
}

.item-icon .count {
  position: absolute;
  bottom: 2px;
  right: 4px;
  z-index: 2;
  color: white;
  text-shadow: -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000;
  font-family: "Flareserif821BT-Roman", "Nanum Gothic", "Arial", sans-serif;
}

span[data-quality] {
  display: block;
}

span.inline[data-quality] {
  display: inline-block;
  margin: 0 4px;
  vertical-align: -2px;
  height: 20px;
}
.inline > .item-icon {
  width: 18px;
  height: 18px;

  img {
    width: 18px;
    height: 18px;
  }
  .count {
    display: none;
  }
  &.unidentified:before, &:after {
    background-size: 18px;
    width: 18px;
    height: 18px;
  }
}

[data-quality="Poor"] {
  .item-icon:after {
    background-image: url('../images/grades/0poor.png');
  }

  .quality-color {
    color: #949293;
  }
}

[data-quality="Basic"] {
  .item-icon:after {
    background-image: url('../images/grades/1common.png');
  }

  .quality-color {
    color: #BA976D;
  }
}

[data-quality="Grand"] {
  .item-icon:after {
    background-image: url('../images/grades/2uncommon.png');
  }

  .quality-color {
    color: #77B064;
  }
}

[data-quality="Rare"] {
  .item-icon:after {
    background-image: url('../images/grades/3rare.png');
  }

  .quality-color {
    color: #558FD6;
  }
}

[data-quality="Arcane"] {
  .item-icon:after {
    background-image: url('../images/grades/4ancient.png');
  }

  .quality-color {
    color: #CB72D8;
  }
}

[data-quality="Heroic"] {
  .item-icon:after {
    background-image: url('../images/grades/5heroic.png');
  }

  .quality-color {
    color: #D78B06;
  }
}

[data-quality="Unique"] {
  .item-icon:after {
    background-image: url('../images/grades/6unique.png');
  }

  .quality-color {
    color: #E17853;
  }
}

[data-quality="Celestial"] {
  .item-icon:after {
    background-image: url('../images/grades/7artifact.png');
  }

  .quality-color {
    color: #F85252;
  }
}

[data-quality="Divine"] {
  .item-icon:after {
    background-image: url('../images/grades/8wonder.png');
  }

  .quality-color {
    color: #CF7D5D;
  }
}
