.mount-filters {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 6px;
  justify-content: space-evenly;
  align-items: center;

  & > * {
    margin: 8px 6px !important;
    min-width: 160px !important;
    flex: 2;
  }

  & > *.filter-field {
    flex: 5;
    min-width: 220px !important;
  }

  & > *.small {
    flex: 1;
    min-width: 100px !important;
  }

  .mount-search {
    .clear-input {
      cursor: pointer;
      visibility: hidden;
      width: 0.75em;
      height: 0.75em;
    }

    .MuiInputBase-root {
      &.Mui-focused, &:hover {
        .clear-input {
          visibility: visible;
        }
      }
    }
  }
}

.no-results {
  padding: 4px 0;
  text-align: center;
}

.mount-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 178px);
  grid-gap: 1rem;
  justify-content: space-between;

  .mount {
    width: 178px;
    cursor: pointer;

    &:hover .portrait img {
      opacity: 0.8;
    }

    .portrait {
      margin: 4px;
      position: relative;
      color: white;
      text-decoration: none;

      img {
        margin: auto;
        display: block;
        width: 170px;
        border-radius: 3px;
      }

      .obtainables {
        position: absolute;
        bottom: 3px;
        left: 3px;
        background: rgba(0, 0, 0, 0.65);
        padding: 1px 3px 3px;
        border-radius: 4px;

        .dropdown-icon:after {
          margin-left: 0;
        }

        .dropdown-icon + .dropdown-icon {
          margin-left: 2px;
        }
      }

      .name {
        position: absolute;
        text-align: center;
        top: 3px;
        left: 3px;
        right: 3px;
        background: rgba(0, 0, 0, 0.65);
        border-radius: 4px;
      }

      .speed {
        background: rgba(0, 0, 0, 0.65);
        border-radius: 4px;
        position: absolute;
        right: 3px;
        bottom: 3px;
        padding: 3px;
        display: block;
      }
    }
  }
}

.mount-table {
  overflow: auto;

  .mount-icon {
    width: 32px;

    img {
      display: block;
      width: 32px;
      border: 1px solid rgba(0, 0, 0, 0.8);
    }
  }

  table {
    min-width: 660px;

    tbody {
      tr:not(.no-results) {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        .mount-skills {
          display: flex;

          .skill + .skill {
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.mount-viewer {
  display: flex;

  .info {
    .portrait {
      height: 438px;
      margin: auto;
    }

    .skills {
      display: flex;

      & > * + * {
        margin-left: 8px;
      }
    }
  }

  .obtain {
    width: 620px;
    margin-left: 16px;
  }
}
