.calculator-box {
  display: flex;
  justify-content: space-between;

  .calculator-totals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;

    .building-select {
      & > .MuiFormControl-root {
        width: 250px;
      }
    }

    .form-options {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .place-info {
      min-width: 250px;
      width: auto;
    }

    .total-list {
      margin-top: 8px;
      max-width: 100%;

      thead {
        background-color: rgba(0, 0, 0, 0.67);

        th {
          color: #FFFFFF;
          font-size: 15px;
        }
      }
    }

    .MuiFormControl-root, .MuiFormControlLabel-root {
      margin: 0 12px;
    }

    .MuiTextField-root {
      margin: 0;
    }

    .tax-price {
      display: flex;
      justify-content: space-between;
    }
  }

  & > div:nth-child(2) {
    max-width: 312px;

    ins {
      margin: 6px;
    }
  }
}

.mobile {
  .calculator-totals {
    flex-direction: column;

    .building-select {
      width: 100%;
      margin-bottom: 8px;

      & > .MuiFormControl-root {
        width: 94%;
      }
    }

    .form-options {
      margin-bottom: 8px;
      width: 100%;
      flex-direction: row;
    }

    .place-info {
      max-width: 100%;
    }
  }
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  .property-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    flex-grow: 1;

    .property-name {
      display: flex;
      align-items: center;
      margin-left: 20px;

      .help-icon {
        margin-left: 8px;
      }
    }

    .property-size {
      font-size: 12px;
      margin-top: -6px;
    }

    .property-input {
      display: flex;
      align-items: center;

      .MuiTextField-root {
        max-width: 215px;
      }

      .help-icon {
        margin: 10px 0 0 6px;
      }
    }

    .help-icon {
      cursor: help;
    }
  }
}
