.thunderstruck-container {
  padding: 8px;
  display: flex;
  justify-content: space-evenly;

  .ts-select {
    width: 205px;
    max-width: 22%;
  }

  .ts-track-button {
    margin: 8px 0;
  }
}

.thunderstruck-tree {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.complete {
    background: rgba(0, 0, 0, 0.35);
    text-decoration: line-through;
    opacity: 0.7;
  }

  .tree-name {
    display: flex;
    flex-direction: column;
  }

  .tree-time {
    display: flex;
    flex-direction: column;
    text-align: center;

    &.passed {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  .tree-note {
    opacity: 0.6;
  }

  .tree-delete {
  }
}

.mobile {
  .thunderstruck-container {
    display: initial;
    padding: 8px 0;

    .ts-select {
      display: block;
      margin: 4px auto;
      width: 205px;
      max-width: initial;
    }

    .ts-track-button {
      display: block;
      width: 79px;
      margin: auto;
    }
  }
}
