/**
 Tooltips
 */
.archeage-tooltip {
  position: absolute;
  z-index: 9999;
  font-family: "Flareserif821BT-Roman", "Nanum Gothic", "Arial", sans-serif;
  width: 216px;
  background: rgba(82, 80, 63, 0.95);
  color: #D0BFAC;
  padding: 16px;
  border-radius: 3px;
  line-height: 1.2;
  font-size: 14px;
  margin: 3px 5px;

  &.spell-tooltip {
    width: 262px;
  }

  border: 1px solid #34341A;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75), inset 0 0 5px 0 #33341B;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75), inset 0 0 5px 0 #33341B;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75), inset 0 0 5px 0 #33341B;

  .header {
    display: flex;

    & + section:before {
      margin-top: 10px;
    }
  }

  section {
    position: relative;
  }

  p {
    margin: 0 auto;
    font-size: 13px;
  }

  section + section:before {
    content: "";
    display: block;
    height: 0;
    margin: 6px auto;
    border-top: 1px solid rgba(208, 191, 172, 0.3);
  }

  section.combos:after {
    content: "";
    position: absolute;
    width: 41px;
    height: 28px;
    background: url(../images/combo.png);
    top: -12px;
    left: calc(50% - 20px);
  }

  h4 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
  }

  h5 {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
  }

  h5 + h5 {
    font-size: 13px;
  }

  .icon {
    margin: 0 8px 2px 0;
    background-color: #AD9D7F;
    vertical-align: middle;
  }

  .name, .skill-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skill-name {
    width: 100%;
    justify-content: flex-end;
    height: 46px;

    h4 {
      font-size: 15px;

      &:not(.passive-skill) {
        color: #FFFFFF;
      }
    }

    h5 {
      font-size: 13px;
    }

    .skill-types {
      display: flex;

      .skillset {
        flex: 1;
      }
    }
  }

  .skill-effects {
    display: flex;
  }

  .shop-price {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .currency {
      color: inherit;
      font-size: 12px;

      &:after {
        top: 3px;
      }
    }

    p {
      margin: 0;
      line-height: 1.5;
    }
  }

  .skill-requirements {
    color: #BE3D36;
  }

  .passive .skill-requirements:before {
    margin-bottom: 12px;
  }

  .description-note {
    display: block;
  }

  .description {
    padding-bottom: 8px;
  }

  .combos {
    margin-top: 10px;
  }

  .combo-rows {
    display: flex;
    flex-direction: column;

    .combo {
      display: flex;
      align-items: center;
      margin-top: 2px;

      &:first-child {
        margin-top: 6px;
      }

      .effect-icon {
        margin-top: 0;
      }

      .combo-arrow {
        width: 15px;
        height: 13px;
        background: url(../images/combo.png) 0 -32px;

        img {
          width: 15px;
          height: 13px;
          opacity: 0;
        }
      }

      div + div, div + p {
        margin-left: 6px;
      }

      & + .combo {
        margin-top: 4px;
      }
    }

  }

  .no-sell {
    color: #C13D36;
  }

  .currency {
    color: #6D4916;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.tt-orange {
  color: #FF9D28;
}

.tt-yellow {
  color: #F6CC66;
}

.tt-blue {
  color: #8DC2DF;
}

.tt-scale {
  color: #81D85D;
}

.tt-green {
  color: #95B84B;
}

.tt-bgreen {
  color: #02FE46;
}

.tt-use, .tt-gray {
  color: #919191;
}

.tt-use {
  display: block;
}

.tt-ancestral {
  color: #FCCE3F;
}

.tt-debuff {
  color: #EA3C16;
}

.tt-buff {
  color: #32D51D;
}
