.tradepack-settings {
  display: flex;
  padding: 12px 6px;
  align-items: center;
  justify-content: space-evenly;

  & > * {
    margin: 0 12px;
  }

  .pack-percentage {
    .MuiFormControl-root {
      width: 102px;
    }
  }
}

.MuiTooltip-tooltip.nowrap {
  max-width: none;
}

$Commercial: #FF9255;
$Luxury: #D275FF;
$Fine: #3887FF;
$Preserved: #36BD4B;
$Cargo: #FF4053;
$Disguised: #FFDE45;
$Coastal: #ECADFF;

.trade-table {
  thead {

  }

  tbody {
    tr {
      &.Commercial td:first-child {
        background-color: $Commercial;
        color: #FFFFFF;
      }

      &.Luxury td:first-child {
        background-color: $Luxury;
        color: #FFFFFF;
      }

      &.Fine td:first-child {
        background-color: $Fine;
        color: #FFFFFF;
      }

      &.Preserved td:first-child {
        background-color: $Preserved;
        color: #FFFFFF;
      }

      &.Cargo td:first-child {
        background-color: $Cargo;
        color: #FFFFFF;
      }

      &.Disguised td:first-child {
        background-color: $Disguised;
        color: rgba(0, 0, 0, 0.87);
        width: 20%;
      }

      &.Coastal td:first-child {
        background-color: $Coastal;
        color: rgba(0, 0, 0, 0.87);
      }

      td:not(:first-child) {
        font-size: 13px;
        padding: 6px 12px 6px 8px;

        &:hover {
          box-shadow: inset 0 0 0 3px #009688;
          cursor: pointer;
        }
      }

      td.no-pack {
        opacity: 0.4;

        &:not(:first-child):hover {
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
}

.trade-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .freshness-tip {
    cursor: help;
  }

  .blip {
    width: 12px;
    height: 12px;
    display: inline-block;
  }
}

.freshness.Commercial {
  background-color: $Commercial;
}

.freshness.Luxury {
  background-color: $Luxury;
}

.freshness.Fine {
  background-color: $Fine;
}

.freshness.Preserved {
  background-color: $Preserved;
}

.freshness.Cargo {
  background-color: $Cargo;
}

.freshness.Disguised {
  background-color: $Disguised;
}

.freshness.Coastal {
  background-color: $Coastal;
}

.MuiTooltip-tooltip.freshness-tip-container {
  padding: 0 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  max-width: none;
}

.material-indent {
  display: inline-block;
  margin-left: 18px;
}

.pack-container {
  .material-table {
    min-width: 600px;
  }

  .transport table {
    min-width: 600px;
  }

  .totals-table {
    min-width: 400px;

    tr td:nth-child(2n + 1) {
      padding-right: 0;
    }
  }
}

.pack-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  h6 {
    flex: 1;
  }

  .pack-quantity {
    display: flex;
    align-items: center;

    .MuiTextField-root {
      width: 56px;
      margin-left: 6px;

      input {
        text-align: right;
      }
    }
  }

  .collapse-btn {
    .collapsed, .expanded {
      -webkit-transition: -webkit-transform .3s ease-in-out;
      -ms-transition: -ms-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
    }

    .collapsed {
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }

  .MuiCheckbox-root {
    padding: 4px;
  }
}

.transport {
  .quantity {
    width: 50px;

    input {
      text-align: right;
    }
  }
}

.sell-config {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > :first-child {
    width: 205px;
    margin-right: 16px;

    .MuiFormControl-root {
      width: 100%;
    }
  }

  .totals-table {
    width: 510px;
  }
}

.freshness-table {
  thead .MuiTableCell-root {
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;

    &.Disguised {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .MuiTableCell-root {
    border-color: transparent;
  }

  .profit-row {
    .MuiTableCell-root {
      font-size: 0.75rem;
    }
  }

  .MuiTableCell-body {
    color: #FFFFFF;
  }
}

.material-prices {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  justify-content: space-between;

  .item-price {
    display: flex;
    align-items: center;
  }
}

.compare-packs {

  &.MuiDialogContent-root {
    padding: 0;
  }

  .zone-name {
    width: 220px;
  }

  .demand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile {
  .tradepack-settings {
    flex-direction: column;

    .MuiFormControl-root, .pack-percentage {
      flex: initial;
      margin: 8px 0 0 0;
    }
  }
}
